**/node_modules/*
**/dist/*
/build/*
/types/*
/docs/*
.*
**/.*/*
scripts/**
commitlint.config.js
okt.config.js
okt-scripts.config.js
babelConfig.js
swagger.config.js
ssr.custom.config.js
docg.config.js
jest.config.js
okt-monitor.config.js
**/coverage*/*
**/__data__/* 
/tests/**
**/*mock*/*
**/*demo*/*